/* bg image */
.container-fluid {
  height: 100vh;
  width: 100%;
  background-image: url(Image/bg5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
@keyframes animate{
  0%{
    background-image: url(Image/bg6.jpg);
  }20%{
    background-image: url(Image/bg.jpg);
  }40%{
    background-image: url(Image/bg4.jpg);
  }60%{
    background-image: url(Image/bg3.jpg);
  }80%{
    background-image: url(Image/bg2.jpg);
  }100%{
    background-image: url(Image/bg1.jpg);
  }
}
/* text on image */
.text-block {
  position: absolute;
  color: white;
  font-size: 14px;

  /* Add the center effect */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px; */
}
.text-block ul li{
  background: transparent !important;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
.que{
  font-family:Tekton Pro;
}
/* Navbar link */
.container-fluid a:link, a:visited{
color: white;
text-decoration: none;
font-family: sans-serif;
}
.container-fluid a:hover, a:active{
  font-family: sans-serif;
text-decoration: underline;
text-shadow:1px 1px 0 #2d2d2d;
}
 /* Search box
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
} */
.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  background: transparent !important;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #ffffff;
  font-style: italic;
}
